[include]
    path = .gitconfig-local
[core]
    editor = vim
	precomposeunicode = true
	excludesfile = /Users/flmu/.gitignore_global
[color]
	ui = true
[merge]
	tool = opendiff
[push]
	default = simple
